<% # function to declare links!
  def link_to(name, url)
    return "<a href='#{url}'>#{name}</a>"
  end

  nav_links = { 
    google: "http://google.com", 
    railscasts: "http://railscasts.com/"
  }
%>

<html>
  <head>
    <title>My ERB Page!</title>
    <link rel="stylesheet" href="style.css">
  <body>
    <div class="wrapper">
      <header>
        <h1>Yay Layouts</h1>
        <ul class="nav">
          <li>NAVIGATION</li>
          <li>|</li>
          <% nav_links.each do |name, url| %>
            <li><%= link_to(name,url) %></li>
          <% end %>
        </ul>
      </header>
      <div class="content">
        <%= yield %>
        <form method='post' action="<%= @request.path %>">
            First name: <input type="text" name="first_name" placeholder='first name'/><br />
            <input type="submit" value="Submit" />
        </form>
        <%= @request.query.inspect %>
      </div><!-- //content -->
      <footer>
        <h3> &lt;3 RUBY </h3>
        <p>&copy; 2012 watts</p>
      </footer>
    </div><!-- //wrapper -->
  </body>
</html>