<div class="left">
	<h1>This is my page!</h1>
	<h2>Isn't it SOOO cool?!?!</h2>

	<% # setting variables to be used within this template
		watts = { name: "Nathaniel Watts", age: 26, location: "The Deep South",
							 occupation: "Aspiring Rails Developer", 
							 sanity: "Questionable" }
		favorites = [ 
			'Cheese', 
			'Cycling', 
			'Long Walks on the Beach', 
			'Sleeping' 
		] %>

	<h3>Here is some information about me!</h3>
	<% watts.each do |label, info| %>
		<p class="info"><span><%= label %>:</span> <%= info %></p>
	<% end %>
</div><!-- //left -->
<div class="right">
	<h3>Here is a list of my favorite things:</h3>
	<ul class="favs">
		<% favorites.each do |fav| %>
		<li><%= fav %></li>
		<% end %>
	</ul>
</div><!-- //right -->

<h3 class="bye">That's it for now... KKTHX</h3>
